
<div class="instructions">
  <h2>Wumpus Hunting 101</h2>
  <h3>Basics</h3>
  <p>So you're trying to catch a wumpus.</p>
  <p>Then descend into the caves of darkness, the lair of the infamous man-eating wumpus. You are equipped with five crooked arrows and all of your senses.</p>
  <p>There are twenty caves connected by tunnels. Within one of these caves resides the wumpus. You will know the wumpus is near by its signature smell.</p>
  <h3>How to get around</h3>
  <p>Each cave is connected to three other caves. You can choose which cave to move to -- take note of warnings you detect!</p>
  <h3>Hazards</h3>
  <p>If you run into the wumpus it may eat you or move away in annoyance. There are also two additional hazards you may find:</p>
  <p class="pit">Bottomless Pits</p>
  <p> If you step into a cave with a bottomless pit you won't come out again. There is a draft if you are adjacent to a cave with a bottomless pit. Best to heed the warning.</p>
  <p class="bat">Superbats</p>
  <p>If you stumble upon a superbat, it will pick you up and drop you in a random cave. This can be good or bad, depending on where it drops you. Superbats can be heard from adjacent caves.</p>
  <p></p>
  <h3>Using your arrows</h3>
  <p>Your crooked arrows can be precisely aimed through multiple caves! When you shoot your bow, you will have to specify exactly which caves you want the arrow to travel through. If the arrow is unable to reach the target cave, it will bounce into a random adjacent cave.</p>
  <p>Take care to not accidentally shoot yourself!</p>
  <p>If you hit the wumpus with your arrow, you win! Missed arrows can wake the wumpus and can cause it to move around. If it finds you, it may be the end of your journey.</p>
  <p>Also, if you run out of arrows, it's game over for you.</p>
  <h3>Good luck</h3>
  <p>Remember to use your senses!</p>
  <p class="warnings">Based on Gregory Yob's original game of the same name</p>
</div>

<a href="/">Back</a>